@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

.bgimg{
  background-image: url('https://wallpapers.com/images/hd/agriculture-farming-field-djd3ffforta0zitn.jpg');
}

.sbgimg{
  background-image: url('https://images.pexels.com/photos/55766/pexels-photo-55766.jpeg?cs=srgb&dl=pexels-pierre-sudre-9695-55766.jpg');
}